name: Deploy to GitHub Pages

on:
  pull_request:
  merge_group:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5

      - name: init rust-toolchain
        # somehow rustup show will take care to initialize the version based on the toolchain file
        run: rustup show

      - name: Check that generated iCal file is up to date
        run: |
          cargo run --release > ./output/feiertage_cmp.ical
          diff ./output/feiertage.ical ./output/feiertage_cmp.ical
