name: Append next year to feiertage.ical

on:
  schedule:
    - cron: "0 9 1 1 *" # Runs at 09:00, on day 1 of the month, only in January
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas

      - name: Append holidays to CSV files
        run: python ./scripts/append-year.py

      - name: init rust-toolchain
        # somehow rustup show will take care to initialize the version based on the toolchain file
        run: rustup show

      - name: Create iCal file
        run: |
          cargo run --release > ./output/feiertage.ical

      - name: Specify year to add
        run: echo "YEAR_TO_ADD=$(date -d '+2 year' +'%Y')" >> $GITHUB_ENV

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          title: "Append holidays for year ${{ env.YEAR_TO_ADD }}"
          commit-message: "Append holidays for year ${{ env.YEAR_TO_ADD }}"
          branch: append-year-${{ env.YEAR_TO_ADD }}
