name: Append next year to feiertage.ical

on:
  schedule:
    - cron: "0 9 1 1 *" # Runs at 09:00, on day 1 of the month, only in January
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v5

      - name: Specify year to add
        run: |
          echo "YEAR_TO_ADD=$(date -d '+2 year' +'%Y')" >> $GITHUB_ENV
          echo "HE_URL=https://www.arbeitstage.org/hessen/feiertage-${YEAR_TO_ADD}-hessen/" >> $GITHUB_ENV
          echo "NRW_URL=https://www.arbeitstage.org/nordrhein-westfalen/feiertage-${YEAR_TO_ADD}-nordrhein-westfalen/" >> $GITHUB_ENV

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas

      - name: Download holidays as CSVs
        working-directory: ./output
        run: |
          python3 -c "import pandas as pd; \
            url=f'{os.environ["HE_URL"]}'; \
            df=pd.read_html(url)[0]; \
            df.to_csv(f'feiertage_he_{os.environ["YEAR_TO_ADD"]}.csv', index=False, header=False, columns=['Feiertag','Datum'], sep='\t')"
          python3 -c "import pandas as pd; \
            url=f'{os.environ["NRW_URL"]}'; \
            df=pd.read_html(url)[0]; \
            df.to_csv(f'feiertage_nrw_{os.environ["YEAR_TO_ADD"]}.csv', index=False, header=False, columns=['Feiertag','Datum'], sep='\t')"

      - name: Append holidays to CSV files
        run: |
          echo ./output/feiertage_he_${YEAR_TO_ADD}.csv >> ./input/HE.csv
          echo ./output/feiertage_nrw_${YEAR_TO_ADD}.csv >> ./input/NRW.csv

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          title: "Append holidays for year ${{ env.YEAR_TO_ADD }}"
          commit-message: "Append holidays for year ${{ env.YEAR_TO_ADD }}"
          branch: append-year-${{ env.YEAR_TO_ADD }}
